/************ Banner Css ************/

.banner {
  margin-top: 0;
  padding-top: 250px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  & a {
    color: rgba(var(--primary-color-2));
  }
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(var(--tertiary-color-2), 0.5) -5.91%,
    rgba(var(--primary-color), 0.5) 111.58%
  );
  border: 1px solid rgba(var(--secondary-color-2), 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  & span {
    font-size: 32px;
  }
}

.banner p {
  color: rgba(var(--secondary-color));
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  opacity: 0.75;
}
.banner button {
  color: rgba(var(--secondary-color));
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 0px 6px rgba(var(--primary-color), 0.5));
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

@media (max-width: 768px) {
  .banner {
    padding-top: 15vh;
    & h1{
      font-size: 36px;
      & span {
        font-size: 24px;
      }
    }
    & img {
      margin-top: 50px;
    }
  }
  /* .banner img {
    animation: none;
  } */
}
